@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root {
    --merah: #BA0716;
    --orange: #ff7c10;
    --white: #ffff;
    --font: #111;
}

a {
    color: var(--font);
    text-decoration: none;
    outline: none;
}

body{
    background-color: var(--white);
    color: var(--font);
    font-family: 'Lato', sans-serif;
}

/* ----- NAVBAR ------ */

header{
    display: block;
}

nav {
    position: fixed;
    top: 0;
    z-index: 9000;
    width: 100%;
    background-color: white;
    /* border-bottom: 1px solid #ddd; */
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.11)
}

.wrapper {
    width: 1320px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
}

.wrapper .logo {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.wrapper .logo img {
    height: 48px;
    margin: 16px 0;
}

.wrapper ul.nav-item {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.wrapper ul.nav-item li {
    margin: 0 12px;
    padding: 16px 0;
    position: relative;
}

.wrapper ul.nav-item li a {
    display: block;
    font-size: 13px;
    letter-spacing: .8px;
    color: #111;
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
    position: relative; 
    text-decoration: none;
}

/* .wrapper ul.nav-item li a:hover {
    
} */
button {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    border-radius: 5px;
    border: none;
}
.btn-login, .btn-regist {
    padding: 14px 20px 12px;
    margin-right: 12px;
}

.wrapper .sisi-kanan {
    display: flex;
    align-items: center;
}

.wrapper .sisi-kanan .language img{
    height: 30px;
    width: 30px;
    align-items: center;
}

.wrapper .sisi-kanan .btn-login {
    background-color: transparent;
    color: var(--font);
    padding: 0;
}

.wrapper .sisi-kanan .btn-login:hover {
    color: var(--merah);
}

.wrapper .sisi-kanan .btn-regist {
    background-color: var(--merah);
    color: var(--white);
}

.wrapper .sisi-kanan .btn-regist:hover {
    background-color: #c70919;
}


/* ----- BANNER ----- */

section {
    display: block;
}

.banner{
    display: block;
    position: relative;
    margin-bottom: 8%;
}

.banner:after {
    clear: both;
    display: block;
    content: " ";
}

.banner .gambar-header img {
    margin-top: 84px;
    border: 1px;
    height: auto;
    max-width: 100%;
    height: auto;
}



/* ----- CONTENT -----*/

.home-content {
    position: relative;
}

.home-logistik, .home-lifestyle, .home-layanan, .home-agen {
    position: relative;
    margin-bottom: 6%;
}

.home-logistik .wrapper{
    padding: 0;
    margin: auto 0;
    width: auto;
}

.home-layanan .wrapper{
    margin: 0 auto;
    justify-content: left;
    display: block;
}

.row:after {
    content: "";
    display: table;
    clear: both
}

.col-2 {
    float: left;
    width: 22.22222%;
    position: relative;
}

.col-4 {
    float: left;
    width: 44.44444%;
}

.col-5 {
    float: left;
    width: 55.55555%;
}

.content {
    margin-left: 36px;
    /* margin-right: 10px; */
}

h1, h2, h3, h4 {
    font-family: 'Josefin Sans', sans-serif;
}

.content h1, .content h4, .content h2 { 
    margin-bottom: 24px;
}

.content h4 {
    color: var(--merah);
    font-weight: 700;
    font-size: 17px;
}

.content h1{
    font-size: 48px;
    font-weight: 600;
    font-style: italic;
}

.content h2{
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
}

.content p {
    color: #888888;
    font-weight: 500;
}

.more {
    padding: 16px 24px;
    color: #ffff;
    background-color: var(--orange);
}

.col-2 .text-block {
    position: absolute;
    bottom: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    margin: 36px 15px;
    width: 80%;
    padding: 15px;
}

.col-2 .text-block h1{
    flex: none;
    font-weight: 800;
    font-style: italic;
    padding-bottom: 20px;
    position: relative;
    box-sizing: border-box;
}

.col-2 .text-block p {
    margin: 0;
    margin-top: 20px;
    color: #fff;
    overflow: hidden;
    height: 50px;
}

.col-2 .text-block h1::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 2px;
    background: #f98015;
    bottom: 0;
}


