@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root {
    --merah: #BA0716;
    --orange: #ff9d48;
    --white: #ffff;
    --font: #111;
}

body{
    background-color: var(--white);
    color: var(--font);
}

/* NAVBAR */

header{
    display: block;
}
.container {
    position: fixed;
    top: 0;
    z-index: 9000;
    width: 100%;
    background-color: white;
    /* border-bottom: 1px solid #ddd; */
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.11)
}

.wrapper {
    width: 1320px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.wrapper .logo {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.wrapper .logo img {
    height: 48px;
    margin: 16px 0;
}

.wrapper ul.nav-item {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.wrapper ul.nav-item li {
    margin: 0 12px;
    padding: 16px 0;
    position: relative;
}

.wrapper ul.nav-item li a {
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    letter-spacing: .8px;
    color: #111;
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
    position: relative; 
    text-decoration: none;
}

/* .wrapper ul.nav-item li a:hover {
    
} */

button {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    padding: 14px 28px 12px;
    margin-right: 12px;
    border-radius: 5px;
    border: none;
}

.wrapper .sisi-kanan {
    display: flex;
    align-items: center;
}

.wrapper .sisi-kanan .language img{
    height: 30px;
    width: 30px;
    align-items: center;
}

.wrapper .sisi-kanan .btn-login {
    background-color: transparent;
    color: var(--orange);
    padding: 0;
}

.wrapper .sisi-kanan .btn-login:hover {
    color: #ff7d0b;
}

.wrapper .sisi-kanan .btn-regist {
    background-color: var(--orange);
    color: var(--white);
}

.wrapper .sisi-kanan .btn-regist:hover {
    background-color: #ffa95e;
}


/* BANNER */

section {
    display: block;
}

.banner img {
    margin-top: 84px;
    border: 1px;
    height: auto;
    max-width: 100%;
}

/* login */
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
/* Set a style for all buttons */
.button-login {
    background-color: var(--merah);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 72px;
    border-radius: 50%;
}

.container2 {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(252, 252, 252); /* Fallback color */
    background-color: rgba(38, 38, 38, 0.176); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    font-family: 'Lato', sans-serif;
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}